
<!doctype html>
<html>
<head>
  <title>nodebin</title>
  <style>
    body { font-family: arial, sans-serif; padding: 20px 60px; }
  </style>
</head>
<body>
  <div id='wrap'>
    <h1>nodebin</h1>
    <section>

      <article>
        <h2>/v1/node</h2>

        <ul>
          <li><a href='v1/node/linux-x64'>/linux-x64</a> [<a href='v1/node/linux-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/node/linux-x64/latest'>/linux-x64/latest</a>
            [ <a href='v1/node/linux-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/node/linux-x64/latest?range=8.x'>semver</a> ]
            [ <a href='v1/node/linux-x64/latest.txt?range=8.x'>semver .txt</a> ]
          </li>
        </ul>

        <ul>
          <li><a href='v1/node/darwin-x64'>/darwin-x64</a> [<a href='v1/node/darwin-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/node/darwin-x64/latest'>/darwin-x64/latest</a>
            [ <a href='v1/node/darwin-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/node/darwin-x64/latest?range=8.x'>semver</a> ]
            [ <a href='v1/node/darwin-x64/latest.txt?range=8.x'>semver .txt</a> ]
          </li>
        </ul>

      </article>

      <article>
        <h2>/v1/yarn</h2>

        <ul>
          <li><a href='v1/yarn/linux-x64'>/linux-x64</a> [<a href='v1/yarn/linux-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/yarn/linux-x64/latest'>/linux-x64/latest</a>
            [ <a href='v1/yarn/linux-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/yarn/linux-x64/latest?range=^0.20'>semver</a> ]
            [ <a href='v1/yarn/linux-x64/latest.txt?range=^0.20'>semver .txt</a> ]
          </li>
        </ul>

        <ul>
          <li><a href='v1/yarn/darwin-x64'>/darwin-x64</a> [<a href='v1/yarn/darwin-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/yarn/darwin-x64/latest'>/darwin-x64/latest</a>
            [ <a href='v1/yarn/darwin-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/yarn/darwin-x64/latest?range=^0.20'>semver</a> ]
            [ <a href='v1/yarn/darwin-x64/latest.txt?range=^0.20'>semver .txt</a> ]
          </li>
        </ul>

      </article>

      <article>
        <h2>/v1/iojs</h2>

        <ul>
          <li><a href='v1/iojs/linux-x64'>/linux-x64</a> [<a href='v1/iojs/linux-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/iojs/linux-x64/latest'>/linux-x64/latest</a>
            [ <a href='v1/iojs/linux-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/iojs/linux-x64/latest?range=&lt;3.0'>semver</a> ]
            [ <a href='v1/iojs/linux-x64/latest.txt?range=&lt;3.0'>semver .txt</a> ]
          </li>
        </ul>

        <ul>
          <li><a href='v1/iojs/darwin-x64'>/darwin-x64</a> [<a href='v1/iojs/darwin-x64.txt'>.txt</a>]</li>
          <li>
            <a href='v1/iojs/darwin-x64/latest'>/darwin-x64/latest</a>
            [ <a href='v1/iojs/darwin-x64/latest.txt'>.txt</a> ]
            [ <a href='v1/iojs/darwin-x64/latest?range=&lt;3.0'>semver</a> ]
            [ <a href='v1/iojs/darwin-x64/latest.txt?range=&lt;3.0'>semver .txt</a> ]
          </li>
        </ul>

      </article>

    </section>
  </div>
</body>
</html>
